# System files
.DS_Store
Thumbs.db

# Logs and temp files
*.log
*.tmp

# Dependencies
node_modules/
venv/
.env

# Compiled / build folders
dist/
build/
*.pyc

# Editor / IDE settings
.vscode/
.idea/

.coverage
persistence/data/
